/**
 ** TODO : create and add icons for headings, downloads and bottom navigation
 **	TODO : check across multiple browsers
 **	TODO : validate html, css and accessibility
 **/

@font-face {
	font-family: 'Quicksand';
	src: url('fonts/Quicksand_Book.otf');
}

* {
	box-sizing: border-box;
}

body {
	font-family: Quicksand, Arial, Helvetica, sans-serif;
	font-size:100%;
	background-color: #e0f4fc;
	color: #383f4a;
	width:100%;
	margin: 0;
	/*text-transform: lowercase;*/
}

*::selection {
	background-color: #ea316e;
	color: white;
}

[class*="col-1"] {width: 8.33%;}
[class*="col-2"] {width: 16.66%;}
[class*="col-3"] {width: 25%;}
[class*="col-4"] {width: 33.33%;}
[class*="col-5"] {width: 41.66%;}
[class*="col-6"] {width: 50%;}
[class*="col-7"] {width: 58.33%;}
[class*="col-8"] {width: 66.66%;}
[class*="col-9"] {width: 75%;}
[class*="col-10"] {width: 83.33%;}
[class*="col-11"] {width: 91.66%;}
[class*="col-12"] {width: 100%;}

footer > * , footer > * > *{
	display:inline;
	margin-right: 3%;
}

[class*="col-"] {
	float: left;
	padding: 10px;
}

.row::after {
	content: "";
	clear: both;
	display: block;
}

header{
	overflow:auto;
}

h1 {
	margin:0;
	background-color: #ea316e;
	color: #e0f4fc;
}

#navigation > h2 {
	display:none;
}

#navigation > ul > li {
	list-style-type: none;
	text-align: center;
	padding: 0;
}

ul{
	list-style: inside;
	padding:0;
}

.nested-list > li {
	display: none;
}

.title-nested:hover .nested-list > li{
	display: list-item;
	list-style-type: decimal-leading-zero;
}

@keyframes a-hover{
	0% {background-color:#B1E3FA;}
	100% {background-color: #97c4da;}
}

li > a {
	display:block;
	padding:5px;
	background-color: #B1E3FA;
}

#downloads > ul > li > a{
	width:90%;
}

h3 {
	background-size: contain;
	padding-top: 8px;
	padding-left: 60px;
	height: 30px;
}

#interests > h3{
	background: url("images/headphone.svg") 20px top no-repeat;
}

#timetable > h3{
	
}

li > a:hover {
	animation-name: a-hover;
	animation-duration: 0.5s;
	background-color: #97c4da;
}

main{
	padding: 15px;
}

a {
	text-decoration: none;
}
a:visited {
	color:inherit;
}
a:hover {
	color:#ea316e;
}

section{
	background-image: url("images/box_sect.svg");
	background-size: 100% 100%;
	padding-left: 3.5%;
	padding-top:1.5%;
	padding-bottom:0.5%;
	margin-bottom:10px;
}
table, td {
	border: 1px solid #000000;
}
aside {
	width: 250px;
	padding: 30px;
	background-color: rgba(255,255,255,0.7);
	position:fixed;
	right: 50px;
	bottom: 50px;
}

h3{
	color:#25aae1;
}
img {
	margin: 1%;
	max-width: 100%;
	height: auto;
	border: 10px solid transparent;
	border-image: url("images/box_img.svg") 60 stretch;
}
dd{
	display:none;
}

dt{
	font-style: italic;
}

dt:hover + dd{
	display:block;
}
em {
	text-decoration: underline;
}
strong {
	color: red;
	text-decoration: underline;
}
label{
	display:block;
	margin-top:15px;
}
textarea{
	width:100%;
	max-width:100%;
	display:block;
	margin-bottom: 20px;
}

#table-popup{
	display:none;
}

footer{
	padding:15px;
}

@media only screen and (max-width: 1015px){
	table.primary{
		display:none;
	}
	#table-popup{
		display:block;
	}
	aside{
		width:100%;
		position: fixed;
		bottom:0;
		left: 0;
		right: 0;
		height:auto;
		padding:0;
	}
	aside > ul > li{
		display:inline;
		float: left;
		text-align: center;
		border-right: 1px solid black;
	}
	aside.aside-3 > ul > li{
		width: 33.33%;
	}
	aside.aside-4 > ul > li{
		width: 25%;
	}
	aside > h2{
		display:none;
	}
	aside > p{
		margin:5px;
	}

	footer{
		margin-bottom:80px;
	}
}


@media only screen and (max-width: 768px) {
	[class*="col-"] {
		width: 100%;
	}

	footer > * {
		display: block;
	}
}
pre.prettyprint {
	display: block;
	background-color: #97c4da;
	max-height: 300px;

	overflow: scroll;
	border:none !important;
	margin: 0 !important;
}
div.code{
	padding:0;
	margin-bottom:10px;
	width: 90%;
	border: 10px solid transparent;
	border-image: url("images/box_code.svg") 60 stretch;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: white } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L4,li.L5,li.L6,li.L7,li.L8, li.L9 {background-color: #97c4da !important; list-style-type: decimal !important }