@font-face {
	font-family: 'Quicksand';
	src: url('fonts/Quicksand_Book.otf');
}
@font-face {
	font-family: 'Quicksand-bold';
	src: url('fonts/Quicksand_Bold.otf');
}

* {
	box-sizing: border-box;
}

body {
	font-family: Quicksand, Arial, Helvetica, sans-serif;
	font-size:100%;
	background-color: #e0f4fc;
	color: #383f4a;
	width:100%;
	margin: 0;
}

::-moz-selection {
	background-color: #ea316e;
	color: #ffffff;
}

::selection {
	background-color: #ea316e;
	color: #ffffff;
}

h1,h2,h3{
	font-family: Quicksand-bold, Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

footer > * , footer > * > *{
	display:inline;
	margin-right: 3%;
}

[class*="col-"] {
	float: left;
	padding: 10px;
}

.row::after {
	content: "";
	clear: both;
	display: block;
}

header{
	overflow:auto;
}

h1 {
	margin:0;
	background-color: #ea316e;
	color: #e0f4fc;
}

#navigation > h2 {
	display:none;
}

#navigation > ul > li {
	text-align: center;
	padding: 0;
}

ul{
	list-style: inside;
	padding:0;
}

.nested-list > li {
	display: none;
}

.title-nested:hover .nested-list > li{
	display: list-item;
}

li{
	list-style-type: none;
}

@-o-keyframes a-hover{
	0% {background-color:#b1e3fa;}
	100% {background-color: #97c4da;}
}
@-moz-keyframes a-hover{
	0% {background-color:#b1e3fa;}
	100% {background-color: #97c4da;}
}
@-webkit-keyframes a-hover{
	0% {background-color:#b1e3fa;}
	100% {background-color: #97c4da;}
}
@keyframes a-hover{
	0% {background-color:#b1e3fa;}
	100% {background-color: #97c4da;}
}

li > a {
	display:block;
	padding:5px;
	background-color: #b1e3fa;
}

#downloads > ul > li > a{
	width:90%;
}

h3 {
	color: #ea186b;
	background-size: contain !important;
	padding-top: 8px;
	padding-left: 60px;
	height: 30px;
}

li > a:hover {
	-o-animation-name: a-hover;
	-o-animation-duration: 0.5s;
	-moz-animation-name: a-hover;
	-moz-animation-duration: 0.5s;
	-webkit-animation-name: a-hover;
	-webkit-animation-duration: 0.5s;
	animation-name: a-hover;
	animation-duration: 0.5s;
	background-color: #97c4da;
}

main{
	padding: 15px;
}

a {
	text-decoration: none;
}
a:visited {
	color:inherit;
}
a:hover {
	color:#ea316e;
}

section, main#section{
	background-image: url("images/box_sect.svg");
	background-size: 100% 100%;
	padding-left: 3.5%;
	padding-top:1.5%;
	padding-bottom:0.5%;
	margin-bottom:10px;
}
table{
	background-image: url("images/box_code.svg");
	background-size: 100% 100%;
	padding: 25px;
	margin-left:0px;
}
td {
	border: 1px solid #000000;
}
td, th{
	font-size: 0.8em;
}
table > caption{
	margin-bottom: 15px;
}
aside {
	width: 250px;
	padding: 30px;
	background-color: rgba(255,255,255,0.7);
	position:fixed;
	right: 50px;
	bottom: 50px;
}

img {
	margin: 1%;
	max-width: 100%;
	height: auto;
	border: 10px solid transparent;
	border-image: url("images/box_img.svg") 60 stretch;
}
dd{
	display:none;
}

dt{
	font-style: italic;
}

dt:hover + dd{
	display:block;
}
em {
	text-decoration: underline;
}
strong {
	color: #ff0000;
	text-decoration: underline;
}
label{
	display:block;
	margin-top:15px;
}
textarea{
	width:90%;
	max-width:90%;
	display:block;
	margin-bottom: 20px;
}

input,textarea{
	font-family: Quicksand, Arial, Helvetica, sans-serif;
	background-color: rgba(0,0,0,0);
	color: #ffffff;
	background-image: url("images/box_code.svg");
	background-size: 100% 100%;
	padding-left:10px;
	border: none;
}

footer{
	padding:15px;
}

*:focus{
	outline:none;
}

#submit{
	margin-bottom:15px;
	margin-left:15px;
	width:100px;
	height:40px;
	font-size:1em;
	font-family: Quicksand-bold, Arial, Helvetica, sans-serif;
	font-weight: bold;
}

#submit:hover{
	cursor:pointer;
	color:#ea316e;
}

#table-popup{
	display:none;
}


pre.prettyprint {
	display: block;
	background-color: #97c4da;
	max-height: 300px;

	overflow: scroll;
	border:none !important;
	margin: 0 !important;
}
div.code{
	padding:0;
	margin-bottom:10px;
	width: 90%;
	border: 10px solid transparent;
	border-image: url("images/box_code.svg") 60 stretch;
}


ol.linenums {
	margin-top: 0;
	margin-bottom: 0;
	color: #ffffff
}
li.L0,li.L1,li.L2,li.L3,li.L4,li.L5,li.L6,li.L7,li.L8, li.L9 {
	background-color: #97c4da !important;
	list-style-type: decimal !important;
}

@media only screen and (max-width: 1015px){
	table.primary{
		display:none;
	}
	#table-popup{
		display:block;
	}
	aside{
		width:100%;
		position: fixed;
		bottom:0;
		left: 0;
		right: 0;
		height:auto;
		padding:0;
	}
	aside > ul > li{
		display:inline;
		float: left;
		text-align: center;
		border-right: 1px solid black;
	}
	aside.aside-3 > ul > li{
		width: 33.33%;
	}
	aside.aside-4 > ul > li{
		width: 25%;
	}
	aside > h2{
		display:none;
	}
	aside > p{
		margin:5px;
	}

	footer{
		margin-bottom:80px;
	}
}


@media only screen and (max-width: 768px) {
	[class*="col-"] {
		width: 100%;
	}

	footer > * {
		display: block;
	}
}

